:root {
  --title-font-family: "Playfair Display", serif;
  --font-family: "Roboto", sans-serif;
  --bo-bg-color: #d8d8d8;
  --title-color: #181818;
  --text-color: #5f7273;
  --color: #dfdbdb;
  --but-color: #f8f8f8;
  --active-color: #000;
  --title-font-size: 28px;
  --text-font-size: 16px;
  --bg-color: #9b9b9b;
}

/* home */

.home {
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.home .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  padding: 0 15px;
  animation: slide 2s ease;
}

.home .slide.active {
  display: flex;
}

@keyframes slide {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* .container {
  max-width: 1170px;
  margin: auto;
} */

.home .container {
  flex-grow: 1;
  max-width: 1000px;
  margin: auto;

}

.home .caption {
  width: 50%;
  min-width: 350px;
}

.home .caption h1 {
  font-size: 30px;
  color: var(--but-color);
  margin: 0;
}

.home .slide.active .caption h1 {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1s;
}

.home .caption p {
  margin: 15px 0 30px;
  color: var(--but-color);
  font-size: 18px;
}

.home .slide.active .caption p {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.2s;
}

.home .caption a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #00ACEE;
  /* background-color: rgb(202, 58, 58); */
  text-decoration: none;
  color: #ffffff;
  border-radius: 11px;
  border: 1px solid #ffffff;
  transition: all 0.2s ease;
}

.btn-2{
  display: inline-block;
  padding: 10px 30px;
  /* background-color: #00ACEE; */
  background-color: rgb(202, 58, 58);
  text-decoration: none;
  color: #ffffff;
  border-radius: 11px;
  border: 1px solid #ffffff;
  transition: all 0.2s ease;
}

.home .caption a:hover{
  background-color: #02a1e0;
}

.btn-2:hover{
  background-color: rgb(180, 36, 36);
}

.home .slide.active .caption a {
  opacity: 0;
  animation: captionText 0.5s ease forwards;
  animation-delay: 1.4s;
}

@keyframes captionText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home .controls .prev,
.home .controls .next {
  position: absolute;
  z-index: 2;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: var(--but-color);
  /* background-color: var(--bg-color); */
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: #000000;
}

.home .controls .prev {
  left: 0;
}

.home .controls .next {
  right: 0;
}

.home .indicator {
  position: absolute;
  left: 50%;
  bottom: 30px;
  z-index: 2;
  transform: translateX(-50%);
}

.home .indicator div {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: var(--bg-color);
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 0 3px;
}

.home .indicator div.active {
  background-color: #000;
}

/*responsive*/
@media (max-width: 767px) {
  .controls {
    display: none;
  }

  .home {
    height: 400px;
  }

  .home .caption h1 {
    font-size: var(--title-font-size);
  }

  .home .caption p {
    font-size: var(--text-font-size);
  }
}

/* home */



/* Services */

#service .container{
  margin-top: 90px;
}

#service .container h2{
  font-size: 28px !important;
  color: #ff0000;
  /* font-style: italic; */
  font-weight: 400 !important;
  margin-bottom: 10px;
  text-align: center;
}

.thumbnail-slider {
  width: 100%;
  overflow: hidden;
}

.thumbnail-slider .thumbnail-container {
  width: 100%;
  display: flex;
  transition: margin 1s ease;
  /* background-color: #f0f0f0;
  border-radius: 11px;
  padding: 10px; */
}

.thumbnail-slider .item {
  height: 250px;
  text-align: center;
  overflow: hidden;
  position: relative;
  /* background-color: #f2f2f2; */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.thumbnail-slider .item .img-container{
  height: 65%;
  width: 270px;

}
.thumbnail-slider .item .img-caption{
  padding: 0px 10px;
}
.thumbnail-slider .item .img-caption .title{
  margin-top: 10px;
  text-align: left;
}
.thumbnail-slider .item .caption-footer{
  margin-top: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 10px;
}
.thumbnail-slider .item .caption-footer .antes{
  text-decoration: line-through;
  color: #5a5a5a;
  font-size: 14px;
  opacity: 0.8;
}
.thumbnail-slider .item .caption-footer .ahora{
  font-size: 16px;
  color: #0d68df;
  font-weight: 400;
}
/* .thumbnail-slider .item .caption-footer button{
  background-color: #00ACEE;
  color: white;
  font-size: 17px;
  border: solid 1px #00ACEE;
  padding: 5px;
  border-radius: 8px;
} */
.thumbnail-slider .item .img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}
/* .thumbnail-slider .item:hover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(5);
  opacity: 0.8;
} */
.thumbnail-slider .content {
  width: 100%;
  float: left;
  padding: 15px;
}

.thumbnail-slider .item:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.thumbnail-slider .content ul {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 auto;
}
.thumbnail-slider .content ul li {
  height: 35px;
  width: 35px;
  border: 1px solid #c3c3c3;
  margin: 4px;
  line-height: 33px;
  cursor: pointer;
}
.thumbnail-slider .content ul li.active {
  background-color: var(--title-color);
  color: var(--but-color);
}

/* Services */