@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@100;200;400;500;600;700;800&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;

}

body{
    /* font-family: 'Poppins', sans-serif; */
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* .container-menu{
    width: 100%;
    margin: 0 auto;
} */

.header{
    display: flex;
    align-items: center;
    /* min-height: 80vh; */
    background-color: #ffffff;
    padding: 70px 0;
    margin-bottom: 20px;
    /* margin-top: 30px; */
}

.menu{
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
    border-bottom: solid 1px rgb(170, 170, 170);
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.3);
}

.menu.nosotros{
    margin-top: 0 !important;
}

.logo{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;

}

.logo img{
    /* width: 220px;
    height: 200px; */
    width: 35%;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 17px;
    padding: 20px;
    color: #353535;
    display: block;
    font-weight: 300;
    transition: all 0.2s ease;
}

.menu .navbar ul li a:hover{
    color: #0d68df;
    font-weight: 400;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    /* position: relative; */
    /* cursor: pointer; */
}

.submenu > i{
    /* background-color: #d8ca0b; */
    font-size: 25px;
    padding: 12px;
    border-radius: 11px;
    font-weight: 400;
    cursor: pointer;
}

.submenu > i > span{
    width: 25px;
    height: 25px;
    font-size: 13px;
    background-color: red;
    border-radius: 50%;
    padding: 2px 6px;
    color: wheat;
    text-align: center;
    font-weight: bold;
}

.submenu #carrito{
    /* display: none; */
    position: absolute;
    opacity: 0;
    right: 0;
    width: 30%;
    height: 400px;
    max-height: 800px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    z-index: -5;
    transition: all 0.3s;
    overflow-y: scroll;
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 8px;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

.submenu #carrito .producto{
    margin: 16px auto;
    border-bottom: 1px solid rgb(73, 73, 73);
}

.submenu #carrito.active{
    /* transition: transform 0.5s ease-in-out; */
    display: block;
}
.submenu:hover #carrito{
    /* display: inline-block; */
    opacity: 1;
    z-index: 5;
    margin-top: 0px;
    margin-right: 0;
    /* position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: rgb(199, 199, 199);
    padding: 20px;
    min-width: 400px; */
}

table{
    width: 100%;
}

th, td{
    color:#ffffff;
}

.borrar{
    background-color: #111111;
    border-radius: 50%;
    padding:5px 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    text-align: center;
}

.header-txt{
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: red;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: white;
    border-radius: 5px;
}

.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: white;
    padding: 35px;
}

.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    width: 250px;
}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3{
    color:#111111;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2{
    /* display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: white;
    border-radius: 5px;
    font-size: 15px; */
    /* position: absolute;
    top: 10px;
    left: 10px; */
} 

.products{
    padding: 50px 0;
    text-align: center;
}

.products h2{
    color: #111111;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.product {
    text-align: center;
    padding: 15px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 11px;
}

.product img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.product h3{
    font-size: 20px;
    color: #111111;
    /* font-family: 'Oswald', sans-serif; */
    /* text-transform: uppercase; */
    margin-bottom: 15px;
    font-weight: 400;
}

.product p, .precio{
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}

.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: white;
}

.icon-txt h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.icon-txt p{
    font-size: 16px;
    color: #111111;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img{
    margin-bottom: 20px;
}

.blog-1 h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p{
    font-size: 16px;
    color: #111111;
}

.footer{
    padding-top: 50px;
    background-color: #1f1c1c;
    text-align: center;
    color: white;
    line-height: 2;
}

.footer h1{
    color: white !important;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-style: italic;
    margin-bottom: 25px;
}

.footer i.label{
    font-size: 16px;
    opacity: 0.9;
}

.footer .redes{
    display: flex;
    justify-content: center;
    gap: 25px;
    color: white;
    margin-top: 30px;
    font-size: 24px;
}

.footer p:first-child(){
    padding-top: 20px;
}

.footer p{
    font-size: 18px;
}

.footer .redes a{
    color: white;
}

.footer .redes i{
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    padding: 10px;
}

.footer .redes i:hover{
    transform: rotate(20deg);
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer .copy{
    border-top: 1px solid rgb(70, 70, 70);
    margin-top: 25px;
    padding: 15px 0px;
}

.footer .copy p{
    font-size: 15px !important;
    opacity: 0.8;
}

.link h3{
    font-size: 18px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
    font-size: 16px;
    color: #DCDCDC;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 991px) {

    .nosotros-container{
        flex-wrap: wrap;
    }

    .nosotros-container .img{
        margin: auto;
        width: 60% !important;
    }

    .nosotros-container .info{
        width: 100% !important;
    }

    .home .caption{
        margin-left: 80px !important;
    }

    .thumbnail-slider .item .img-container{
        height: 75%;
        width: 300px;
        margin: auto;
    }

    .usuarios-container .usuario{
        width: 90% !important;
    }

    #carrito{
        width: 500px !important;
        margin-top: -7px !important;
    }

    .container{
        margin: auto;
    }

    .productos-container{
        max-width: 100% !important;
    }

    .ul-icons{
        /* float: right; */
        right: 0;
        margin-top: -50px;
        position: absolute;
    }

    .menu{
        padding: 20px;
        display: block;
        box-shadow: none;
        border-bottom: 0;
        background-color: transparent;
        
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        /* position: absolute;
        top: 100%; */
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
        background-color: black;
    }

    .menu .navbar ul li a{
        color: white;
    }

    #menu:checked ~ .navbar{
        display: block;
        z-index: 9;
        height: 300px;
        position: absolute;
        margin-top: 15px;
        /* height: 30vh !important; */
    }

    .logo{
        display: none;
    }

    /* .submenu:hover #carrito{
        min-width: -100%;
    } */

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img{
        display: none;
    }

    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    }

    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .ofert-1{
        margin-bottom: 30px;
    }

    .products{
        padding: 0 30px 30px 30px;
    }

    .products h2{
        margin-bottom: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product img{
        width: 200px;
        height: 280px;
    }

    .icons{
        padding: 30px;
        flex-direction: column;
    }

    .icon-1{
        margin-bottom: 30px;
    }

    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1{
        margin-bottom: 30px;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        /*grid-template-columns: repeat(2, 2fr);*/
        flex-direction: column;
        text-align: center;
    }
}


.productos-container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 200px !important;
    max-width: 75%;
    margin: auto;
}

#carrito .producto{
    background-color: #ffffff;
    width: 350px;
}

#carrito .info-container{
    display: none;
}

#carrito .producto .bg-img{
    width: 350px;
    height: 330px;
}

.producto{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
    padding-bottom: 10px;
    /* overflow: hidden; */
    margin-bottom: 30px;
    max-width: 400px;
}

.productos-modal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 6;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    /* margin-top: 200px !important;
    max-width: 75%;
    margin: auto; */
}

.productos-modal .producto.modal{
    position: relative;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
    padding-bottom: 10px;
    overflow: hidden;
    /* margin-bottom: 30px; */
    background-color: #ffffff;
    width: 650px;
    /* height: 60vh; */
    max-height: 95vh;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 11px;
}

.productos-modal .producto.modal .bg{
    width: 400px;
    margin: auto;
    /* box-sizing: content-box !important; */
}

.productos-modal .producto.modal .bg .bg-img{
    width: 400px;
}

.productos-modal .producto{
    box-shadow: 0px 0px 0px 0px transparent;
    max-width: 650px !important;
    /* overflow: inherit; */
    margin-top: 25px;
}

.productos-modal .producto .producto-info .info-container,
.productos-modal .producto .descuento{
    display: none;
}

.productos-modal .producto .descripcion{
    display: block;
    width: 95%;
    margin: auto;
    padding: 10px 15px;
    border-radius: 11px;
    box-shadow: -1px -1px 3px 3px rgba(133, 133, 133, 0.1);
}

.productos-modal .producto .descripcion p{
    font-size: 16px;
    color: rgb(83, 83, 83);
    line-height: 1.2;
    margin-top: 5px;
}

.productos-modal .producto .descripcion h3{
    text-align: left;
    font-size: 20px;
    color: rgb(59, 59, 59);
    padding-bottom: 4px;
    border-bottom: 1px solid #0d68e096;
}

.productos-modal .producto .bg .bg-img{
    margin: 0 auto !important;
    cursor: default;
}

.productos-modal .producto .close{
    position: absolute;
    top: -8px;
    right: 10px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    color: #3b3b3b;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.2s ease;
}

.productos-modal .producto .close:hover{
    color: #ca2424;
}

.hide{
    display: none;
}

.producto .bg{
    overflow: hidden;
}

.producto .descripcion{
    display: none;
}

.producto .bg-img{
    width: 400px;
    height: 400px;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.producto.p1 .bg-img{
    background-image: url(../img/productos/acer-aspire-1.jfif);
}

.producto.p2 .bg-img{
    background-image: url(../img/productos/compumax-1.jfif);
}

.producto.p3 .bg-img{
    background-image: url(../img/productos/diadema-log-1.jfif);
}

.producto.p4 .bg-img{
    background-image: url(../img/productos/jbl-quantum-1.jfif);
}

.producto.p5 .bg-img{
    background-image: url(../img/productos/kindle-1.jfif);
}

.producto.p6 .bg-img{
    background-image: url(../img/productos/lenovo-idea-1.jfif);
}

.producto.p7 .bg-img{
    background-image: url(../img/productos/mouse-log-1.jfif);
}

.producto.p8 .bg-img{
    background-image: url(../img/productos/mx-keys-1.jfif);
}

.producto.p9 .bg-img{
    background-image: url(../img/productos/spotlight-1.jfif);
}

.producto.p10 .bg-img{
    background-image: url(../img/productos/jbl-charge-1.jfif);
}

.producto.p11 .bg-img{
    background-image: url(../img/productos/jbl-xtreme-1.jfif);
}

.producto.p12 .bg-img{
    background-image: url(../img/productos/combo-slim-1.jfif);
}

.producto.p13 .bg-img{
    background-image: url(../img/productos/mouse-mx-1.jfif);
}

.producto.p14 .bg-img{
    background-image: url(../img/productos/google-nest.jfif);
}

.producto.p15 .bg-img{
    background-image: url(../img/productos/oraimo-1.jfif);
}

.producto.p16 .bg-img{
    background-image: url(../img/productos/monitor-lenovo-1.jfif);
}

.producto.p17 .bg-img{
    background-image: url(../img/productos/combo-logitech-1.jfif);
}



.producto.p1 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/acer-aspire-2.jpg);
    transform: scale(1.1);
}

.producto.p2 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/compumax-2.webp);
    transform: scale(1.1);
}

.producto.p3 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/diadema-log-2.webp);
    transform: scale(1.1);
}

.producto.p4 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/jbl-quantum-2.jpg);
    transform: scale(1.1);
}

.producto.p5 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/kindl2-2.jpg);
    transform: scale(1.1);
}

.producto.p6 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/lenovo-idea-2.jpg);
    transform: scale(1.1);
}

.producto.p7 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/mouse-log-2.webp);
    transform: scale(1.1);
}

.producto.p8 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/mx-keys-2.jpg);
    transform: scale(1.1);
}

.producto.p9 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/spotlight-2.jpg);
    transform: scale(1.1);
}

.producto.p10 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/jbl-charge-2.jpg);
    transform: scale(1.1);
}

.producto.p11 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/jbl-xtreme-2.jpg);
    transform: scale(1.1);
}

.producto.p12 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/combo-slim-2.jpg);
    transform: scale(1.1);
}

.producto.p13 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/mouse-mx-2.jpg);
    transform: scale(1.1);
}

.producto.p14 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/google-nest-2.jpg);
    transform: scale(1.1);
}

.producto.p15 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/oraimo-2.png);
    transform: scale(1.1);
}

.producto.p16 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/monitor-lenovo-2.jpg);
    transform: scale(1.1);
}

.producto.p17 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/combo-logitech-2.jpg);
    transform: scale(1.1);
}





.producto .descuento{
    z-index: 5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 30px;
    border-radius: 3px;
    /* background-color: #05a705; */
    background-color: #00FE00;
    color: white;
    font-weight: bold;
    transform: translateY(10px);
    margin-left: 10px;
}

.producto .producto-info h3{
    text-align: center;
    margin-top: 12px;
    font-weight: 500;
    font-size: 22px;
}

.producto .producto-info a{
    text-decoration: none;
    background-color: #00ACEE;
    color: white;
    border-radius: 11px;
    font-size: 17px;
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
}

.producto .producto-info a.active{
    background-color: #FFB600;
    color: black;
    pointer-events: none;
}

.producto .producto-info a:hover{
    background-color: #FFB600;
    color: black;
    transition: all 0.3s ease-in-out;
}

.producto .producto-info .info-container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 12px;
    
}

.producto .producto-info .info-container p{
    color: rgb(136, 136, 136);
    font-style: italic;
    font-size: 15px;
}

.producto .producto-info .precio{
    color: #0d68df;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
}


/* @media (min-width: 1200px) {
    .productos-container{
        max-width: 75%;
    }
} */



.promociones{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    top: 0;
    background: rgb(0,11,83);
    background: linear-gradient(90deg, rgba(0,11,83,1) 36%, rgba(7,115,185,1) 59%, rgba(9,137,209,1) 84%, rgba(0,255,102,1) 100%);
}

.promociones i{
    margin-left: 10px;
    margin-right: 10px;
}

.promociones span{
    font-weight: 600;
    font-size: 24px !important;
    font-family: Arial, Helvetica, sans-serif;
}

#vaciar-carrito.hidden{
    display: none;
}

span.no-favoritos{
    font-size: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: rgb(240, 240, 240);
}

.vacio{
    text-align: center;
    font-size: 20px;
    color: gray;
    margin-top: 20px;
}

/* span.no-favoritos i{
    margin-left: 10px;
} */

.usuarios-title{
    text-align: center;
    margin-top: 130px;
    /* margin-bottom: 20px; */
    font-weight: 400;
    font-size: 33px;
}

.usuarios-title::after{
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #FFB600;
    text-align: center;
    margin-top: 20px;
}

.bg-usuarios{
    width: 100%;
    background-color: #48a50a10;
    padding: 20px;
}

.usuarios-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 50px auto;
    /* background-color: #00abee21; */
}

.usuarios-container .usuario{
    margin: 17px 0px;
    cursor: pointer;
    padding: 15px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    background-color: rgb(245, 245, 245);
    transition: all 0.3s ease;
}

.usuarios-container .usuario:hover{
    box-shadow: 0 0 16px rgba(0,0,0,0.4);
    background-color: rgb(250, 250, 250);
}

.usuarios-container .head{
    margin-bottom: 13px;
    display: flex;   
    align-items: center;
    gap: 20px;
}

.usuarios-container .head .nombre{
    font-weight: 400;
    font-size: 20px;
}

.usuarios-container .head .nombre i{
    color: #00ACEE;
    font-size: 17px;
}

.usuarios-container .head .stars{
    display: flex;
    align-items: center;
    gap: 2px;
}

.usuarios-container .head .stars i{
    color: #FFB600;
}

.usuarios-container .body{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
}

.usuarios-container .foot{
    border-bottom: 1px solid rgb(182, 182, 182);
}

.usuarios-container .foot .fecha{
    float: right;
    padding-top: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}

.btn-wapp{
    position: fixed;
    top: 75%;
    width: 56px;
    height: 56px;
    color: white;
    background-color: #25d366;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    margin-left: 15px;
    box-shadow: 0 6px 8px 2px rgba(0,0,0,.14);
    z-index: 5;
    transition: all 0.3s ease-out;
}

.btn-wapp:hover{
    background-color: #2BB741;
}

.btn-wapp .text{
    /* z-index: 1; */
    /* opacity: 0; */
    width: 120px;
    position: absolute;
    font-size: 15px;
    margin-left: 190px;
    background-color: #fff;
    color: black;
    font-weight: 300;
    padding: 10px 10px;
    transition: all 0.3s ease-out;
    box-shadow: 0 3px 5px 3px rgba(0,0,0,.2);
    border-radius: 11px;
}

/* .btn-wapp:hover .text{
    opacity: 1;
    margin-left: 170px;
} */

.home .indicator{
    display: none !important;
}

.nosotros-container h1,
.nosotros-container h2,
.nosotros-container h3,
.nosotros-container h4{
    /* font-family: Arial, Helvetica, sans-serif !important; */
    font-weight: 500;
    margin-top: 40px;
    color: rgb(70, 69, 69) !important;
}

.nosotros-container p{
    line-height: 1.5;
    margin: 15px 0px;
    color: rgb(92, 92, 92) !important;
    /* font-family: Arial, Helvetica, sans-serif !important; */
}

.nosotros-container{
    width: 80% !important;
    display: flex;
    margin: auto;
    gap: 50px;
}

.nosotros-container .info{
    width: 60%;
}

.nosotros-container .img{
    width: 45%;
}

.nosotros-container .img img{
    width: 100%;
}

@media (max-width: 1200px) {
    .nosotros-container{
        width: 70% !important;
    }
}


.ul-icons{
    display: flex;
    align-items: baseline;
}

ul i.fa-user,
ul i.fa-circle-user{
    font-size: 25px;
    font-weight: 400;
    padding: 25px 15px;
    color: black;
}

.nosotros-container li{
    list-style: disc;
}

.descuento-producto{
    background-color: #00c3fe;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    
}