@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@100;200;400;500;600;700;800&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;

}

body{
    /* font-family: 'Poppins', sans-serif; */
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-menu{
    width: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    /* min-height: 80vh; */
    background-color: #ffffff;
    padding: 70px 0;
    margin-bottom: 20px;
    /* margin-top: 30px; */
}

.menu{
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
    border-bottom: solid 1px rgb(170, 170, 170);
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.3);
}

.logo{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;

}

.logo img{
    /* width: 220px;
    height: 200px; */
    width: 35%;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 17px;
    padding: 20px;
    color: #353535;
    display: block;
    font-weight: 300;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    /* position: relative; */
    /* cursor: pointer; */
}

.submenu > i{
    /* background-color: #d8ca0b; */
    font-size: 22px;
    padding: 12px;
    border-radius: 11px;
    font-weight: 400;
    cursor: pointer;
}

.submenu #carrito{
    /* display: none; */
    position: absolute;
    opacity: 0;
    right: 0;
    width: 30%;
    height: 400px;
    max-height: 800px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    z-index: -5;
    transition: all 0.3s;
    overflow-y: scroll;
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 8px;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

.submenu #carrito .producto{
    margin: 16px auto;
    border-bottom: 1px solid rgb(73, 73, 73);
}

.submenu #carrito.active{
    /* transition: transform 0.5s ease-in-out; */
    display: block;
}
.submenu:hover #carrito{
    /* display: inline-block; */
    opacity: 1;
    z-index: 5;
    margin-top: 0px;
    margin-right: 0;
    /* position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: rgb(199, 199, 199);
    padding: 20px;
    min-width: 400px; */
}

table{
    width: 100%;
}

th, td{
    color:#ffffff;
}

.borrar{
    background-color: #111111;
    border-radius: 50%;
    padding:5px 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img{
    flex-basis: 50%;
    text-align: center;
}

.header-txt{
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1{
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: red;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: white;
    border-radius: 5px;
}

.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1{
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: white;
    padding: 35px;
}

.ofert-img{
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    width: 250px;
}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3{
    color:#111111;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2{
    /* display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: white;
    border-radius: 5px;
    font-size: 15px; */
    /* position: absolute;
    top: 10px;
    left: 10px; */
} 

.products{
    padding: 50px 0;
    text-align: center;
}

.products h2{
    color: #111111;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

.product {
    text-align: center;
    padding: 15px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 11px;
}

.product img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.product h3{
    font-size: 20px;
    color: #111111;
    /* font-family: 'Oswald', sans-serif; */
    /* text-transform: uppercase; */
    margin-bottom: 15px;
    font-weight: 400;
}

.product p, .precio{
    font-size: 16px;
    color: #111111;
    margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}

.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: white;
}

.icon-txt h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.icon-txt p{
    font-size: 16px;
    color: #111111;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img{
    margin-bottom: 20px;
}

.blog-1 h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p{
    font-size: 16px;
    color: #111111;
}

.footer{
    padding: 50px 0;
    background-color: #01aef0;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
    font-size: 16px;
    color: #DCDCDC;
    display: block;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: white;
    }

    #menu:checked ~ .navbar{
        display: initial;

    }

    .logo{
        display: none;
    }

    /* .submenu:hover #carrito{
        min-width: -100%;
    } */

    .header{
        min-height: 0vh;
    }

    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img{
        display: none;
    }

    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    }

    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }

    .ofert-1{
        margin-bottom: 30px;
    }

    .products{
        padding: 0 30px 30px 30px;
    }

    .products h2{
        margin-bottom: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product img{
        width: 200px;
        height: 280px;
    }

    .icons{
        padding: 30px;
        flex-direction: column;
    }

    .icon-1{
        margin-bottom: 30px;
    }

    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1{
        margin-bottom: 30px;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        /*grid-template-columns: repeat(2, 2fr);*/
        flex-direction: column;
        text-align: center;
    }
}


.productos-container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 200px !important;
    max-width: 75%;
    margin: auto;
}

#carrito .producto{
    background-color: #ffffff;
    width: 250px;
}

#carrito .info-container{
    display: none;
}

#carrito .producto .bg-img{
    width: 250px;
    height: 130px;
}

.producto{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

.producto .bg{
    overflow: hidden;
}

.producto .bg-img{
    width: 370px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.producto.p1 .bg-img{
    background-image: url(../img/pc/1.jpg);
}

.producto.p2 .bg-img{
    background-image: url(../img/productos/teclado1.webp);
}

.producto.p3 .bg-img{
    background-image: url(../img/productos/audifono1.jpg);
}

.producto.p4 .bg-img{
    background-image: url(../img/productos/laptop1.webp);
}

.producto.p5 .bg-img{
    background-image: url(../img/productos/mouse1.jpg);
}

.producto.p6 .bg-img{
    background-image: url(../img/productos/silla1.jpeg);
}

.producto.p7 .bg-img{
    background-image: url(../img/productos/torre1.webp);
}

.producto.p8 .bg-img{
    background-image: url(../img/productos/targeta1.webp);
}

.producto.p9 .bg-img{
    background-image: url(../img/productos/procesador1.webp);
}



.producto.p1 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/pc/2.jpg);
    transform: scale(1.1);
}

.producto.p2 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/teclado2.png);
    transform: scale(1.1);
}

.producto.p3 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/audifono2.jpg);
    transform: scale(1.1);
}

.producto.p4 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/laptop2.webp);
    transform: scale(1.1);
}

.producto.p5 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/mouse2.jpg);
    transform: scale(1.1);
}

.producto.p6 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/silla2.jpg);
    transform: scale(1.1);
}

.producto.p7 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/torre2.webp);
    transform: scale(1.1);
}

.producto.p8 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/tarjeta2.png);
    transform: scale(1.1);
}

.producto.p9 .bg-img:hover{
    transition: all 0.8s ease-in-out;
    background-image: url(../img/productos/procesador2.webp);
    transform: scale(1.1);
}





.producto .descuento{
    z-index: 5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 30px;
    border-radius: 3px;
    /* background-color: #05a705; */
    background-color: #00FE00;
    color: white;
    font-weight: bold;
    transform: translateY(10px);
    margin-left: 10px;
}

.producto .producto-info h3{
    text-align: center;
    margin-top: 12px;
    font-weight: 500;
    font-size: 22px;
}

.producto .producto-info a{
    text-decoration: none;
    background-color: #00ACEE;
    color: white;
    border-radius: 11px;
    font-size: 17px;
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
}

.producto .producto-info a:hover{
    background-color: #d8ca0b;
    color: black;
    transition: all 0.3s ease-in-out;
}

.producto .producto-info .info-container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 12px;
    
}

.producto .producto-info .info-container p{
    color: rgb(136, 136, 136);
    font-style: italic;
    font-size: 15px;
}

.producto .producto-info .precio{
    color: #0d68df;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
}


/* @media (min-width: 1200px) {
    .productos-container{
        max-width: 75%;
    }
} */



.promociones{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    top: 0;
    background: rgb(0,11,83);
    background: linear-gradient(90deg, rgba(0,11,83,1) 36%, rgba(7,115,185,1) 59%, rgba(9,137,209,1) 84%, rgba(0,255,102,1) 100%);
}

.promociones i{
    margin-left: 10px;
    margin-right: 10px;
}

.promociones span{
    font-weight: 600;
    font-size: 24px !important;
    font-family: Arial, Helvetica, sans-serif;
}

#vaciar-carrito.hidden{
    display: none;
}

span.no-favoritos{
    text-align: center;
    font-size: 22px;
}